.student-list {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #d5f5e3 ;
}
.edit-button{
  padding: 3px 8px;
  background-color: #e74c3c; /* Red background */
  border: none;
  color: white; /* White text */
  padding: 3px 7px;
  margin-right:3px;
}
.delete-button{
  padding: 3px 8px;
  background-color: #e74c3c; /* Red background */
  border: none;
  color: white; /* White text */
  padding: 3px 7px;
}


.title {
  text-align: center;
  font-size: 24px;
  color:#e74c3c;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color:#e5e8e8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-top: 0;
}

.card p {
  margin: 5px 0;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}


.submit-button {
  background-color: #01d28e;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #6cf0c2;
}
